<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificador de Precios</title>
</head>
<body>
    <header>
        <h1>Verificador de precios</h1>

    </header>
    <main>
        <div>
            <h2>Escanea tu producto</h2>
        </div>
        <div>
            <form action="/" method="post">
                <input type="text" placeholder="Introduce el codigo aqui" name="codigo">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>