<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Regresar</a>
        </nav>
    </header>
    <main>
        <div>
            {% for product in producto %}
            <h1>Nombre: {{ product.nombre }}</h1>
            <p>Codigo: {{ product.codigo }}</p>
            <p>Precio: {{ product.precio }}</p>       
            {% endfor %}
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>