<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Regresar</a>
        </nav>
    </header>
    <main>
        <div>
           
            <ul>
                {% for product in producto %}
                <li>
                    Product Code: {{ product.codigo }}<br>
                    Product Name: {{ product.nombre }}<br>
                    Product Price: {{ product.precio }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>